<table class="table">
    <tr>
        <th class="text-center">
            Trips
        </th>
        <th class="text-center">
            Finished trips
        </th>
        <th class="text-center">
            Users
        </th>
        <th class="text-center">
            Drivers
        </th>
    </tr>
    <tr>
        <td class="text-center">
            {{stats.trips || 0}}
        </td>
        <td class="text-center">
            {{stats.finishedTrips || 0}}
        </td>
        <td class="text-center">
            {{stats.users || 0}}
        </td>
        <td class="text-center">
            {{stats.drivers || 0}}
        </td>
    </tr>
</table>